.gradient-text {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background: linear-gradient(45deg, #06231d 0%, #076653 70%, #06231d 85%);
  background-size: 500% 300%;
  background-position: left;
  transition: background 0.4s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text:hover {
  background-position: right;
}
