.gradient-text {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  background: linear-gradient(45deg, #06231d 0%, #076653 70%, #06231d 85%);
  background-size: 500% 300%;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes reflectAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.gradient-text:hover {
  animation: reflectAnimation 0.4s ease forwards; /* Appliquer l'animation au survol */
}
